/*
Programmeerproject
project.css

Name: Lotte Slim
Number: 10654976
*/

/*HEADER*/
/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  	margin-bottom: 0;
  	margin: 0 auto;
  	max-height: 150px;
  	width: 100%;
}

.jumbotron h1 {
	font-size: 40px;
	margin-top: 0px;
}

/*FOOTER*/
/* Add a grey background color and some padding to the footer */
footer {
  	background-color: #f2f2f2;
  	padding: 25px;
}

/*DROPDOWN MENU*/

/*.button.btn.btn-primary {
	background-color: white;
	color: black;
}*/
/*.dropdown-menu {
    position: absolute;
    left: 1000px;
    top: 40px;
}
*/
/*WORLDMAP*/
.map.table {
	position: relative;
	width: inherit;
	height: 780px;	
}

#container1 {
	width: 60%;
	height: 780px;
	float:left;
}

/*TABLE*/
#myInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-size: 5%;
    background-position: 8px 10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 80%; /* Full-width = 100% */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#container4 {
	width: 30%;
	height: 680px;
	float: right;
	overflow: scroll;
}

/*Table sorting*/
th.des:after {
  	content: "\21E9";
}

th.aes:after {
  	content: "\21E7";
}


/*BARCHART*/

.barcharts {
	position: relative;
	width: inherit;
	height: 400px;
}

#container2 {
	width: 40%;
	height: 400px;
	float: left;
}

#container3 {
	width: 40%;
	height: 400px;
	float: right;
}


body {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	position: relative;
  	width: 100%;
}

.axis text {
  	font: 10px sans-serif;
}

.axis path,
.axis line {
  	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}

.bar {
  	fill: steelblue;
  	fill-opacity: .9;
}

.bar:hover {
	fill: grey;
}

.x.axis path {
  	display: none;
}

label {
	position: absolute;
	top: 10px;
	right: 10px;
}